# <center> Retrieve data from AWS RDS </center>

To run this code you need to pip install the following librairy : 

- `psycopg2`
- `boto3`
- `sqlalchemy`
- `pandas` 

Uncomment the following cell if needed.

In [1]:
# !pip install psycopg2-binary boto3 pandas sqlalchemy

This script is to connect to the postgres database. Nothing to change.

In [2]:
import psycopg2
import sys
import boto3
import os

ENDPOINT="database-1.c3gcywo2moej.eu-north-1.rds.amazonaws.com"
PORT="5432"
USER="postgres"
REGION="eu-north-1c"
DBNAME="Data_test"
PASSWORD = 'motdepasse'


conn_string = "host="+ ENDPOINT +" port="+ PORT +" user=" + USER +" password=" + PASSWORD

try:
    conn = psycopg2.connect(conn_string)
    cur = conn.cursor()
    # cur.execute("""SELECT now()""")
    # query_results = cur.fetchall()
    print("Connetected to RDS")
except Exception as e:
    print("Database connection failed due to {}".format(e))

Connetected to RDS

This script is to create the engine of our database. Nothing to change.

In [3]:
from sqlalchemy import create_engine

database_url = 'postgresql://'+ USER +':' + PASSWORD + '@' + ENDPOINT +':' + PORT + '/' + DBNAME
engine = create_engine(database_url)

Verify all the tables in the database :

In [ ]:
from sqlalchemy import inspect
inspector = inspect(engine)
schemas = inspector.get_schema_names()

for schema in schemas:
    print("schema: %s" % schema)
    for table_name in inspector.get_table_names(schema=schema):
        print("table: %s" % table_name)

The following is to retreive the tables from the database.

In [4]:
import pandas as pd
tables_name = ['beneficiary', 'medication_specialisation', 'medication_presentation', 'global_expenses', 'generic_group']
tables = {}

# It will take a while to load all the tables depending on the size of the database and your internet connection
for name in tables_name:
    tables[name] = pd.read_sql(name, engine)

beneficiary
   region_of_residence  age  sexe  beneficiary_id
0                    5    4     1               0
-------------------------------------
medication_specialisation
   beneficiary_id          CIP13 ATC1 ATC2  ATC3   ATC4     ATC5  \
0               0  3400931911999    a  a01  a01a  a01aa  a01aa01

                            l_ATC1                        L_ATC2  \
0  systeme digestif et metabolisme  preparations stomatologiques

                         L_ATC3                                  L_ATC4  \
0  preparations stomatologiques  medicaments prophylactiques anticaries

            L_ATC5  prescriber  number_of_boxes_delivered_per_client  \
0  sodium fluorure          99                                    17

   medicament_specialisation_id
0                             0
-------------------------------------
medication_presentation
           CIP13                           name_medication  \
0  3400949497294  anastrozole accord 1 mg comprim pellicul

  pharmaceutical_form methods_of_administration           statut_amm  \
0    comprim pellicul                     orale  autorisation active

                    procedure_type_amm commercialisation_state   date_AMM  \
0  procdure de reconnaissance mutuelle           commercialise 2010-10-28

                      owner enhanced_surveillance  \
0  accord healthcare france                   non

                         description_medication  \
0  plaquettes pvc pvdc aluminium de 30 comprims

  date_declaration_commercialisation  reimbursement_rate_per_medication  \
0                         2011-03-16                              100.0

   price_medication
0             30.36
-------------------------------------
global_expenses
           CIP13  reimbursement_base_2022  nb_boxes_reimbursed_2022  \
0  3400921604696                353956.43                     96127

   reimbursed_amount_2022                     name_medication  \
0             245082.6205  yellox 09 mgml collyre en solution

   global_expenses_id
0                   0
-------------------------------------
generic_group
           CIP13  GEN_NUM  TOP_GEN  generic_group_id
0  3400931911999        0        0                 0
-------------------------------------

In [6]:
for name , table in tables.items():
    print(name)
    print(table.info())
    print('-------------------------------------\n')

beneficiary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1873493 entries, 0 to 1873492
Data columns (total 4 columns):
 #   Column               Dtype
---  ------               -----
 0   region_of_residence  int64
 1   age                  int64
 2   sexe                 int64
 3   beneficiary_id       int64
dtypes: int64(4)
memory usage: 57.2 MB
None
-------------------------------------

medication_specialisation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1873493 entries, 0 to 1873492
Data columns (total 15 columns):
 #   Column                                Dtype
---  ------                                -----
 0   beneficiary_id                        int64
 1   CIP13                                 int64
 2   ATC1                                  object
 3   ATC2                                  object
 4   ATC3                                  object
 5   ATC4                                  object
 6   ATC5                                  object
 7   l_ATC1                                object
 8   L_ATC2                                object
 9   L_ATC3                                object
 10  L_ATC4                                object
 11  L_ATC5                                object
 12  prescriber                            int64
 13  number_of_boxes_delivered_per_client  int64
 14  medicament_specialisation_id          int64
dtypes: int64(5), object(10)
memory usage: 214.4+ MB
None
-------------------------------------

medication_presentation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12174 entries, 0 to 12173
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   CIP13                               12174 non-null  int64
 1   name_medication                     12174 non-null  object
 2   pharmaceutical_form                 12174 non-null  object
 3   methods_of_administration           12174 non-null  object
 4   statut_amm                          12174 non-null  object
 5   procedure_type_amm                  12174 non-null  object
 6   commercialisation_state             12174 non-null  object
 7   date_AMM                            12174 non-null  datetime64[ns]
 8   owner                               12174 non-null  object
 9   enhanced_surveillance               12174 non-null  object
 10  description_medication              12174 non-null  object
 11  date_declaration_commercialisation  12174 non-null  datetime64[ns]
 12  reimbursement_rate_per_medication   11931 non-null  float64
 13  price_medication                    11931 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(9)
memory usage: 1.3+ MB
None
-------------------------------------

global_expenses
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12174 entries, 0 to 12173
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CIP13                     12174 non-null  int64
 1   reimbursement_base_2022   12174 non-null  float64
 2   nb_boxes_reimbursed_2022  12174 non-null  int64
 3   reimbursed_amount_2022    12174 non-null  float64
 4   name_medication           12174 non-null  object
 5   global_expenses_id        12174 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 570.8+ KB
None
-------------------------------------

generic_group
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12174 entries, 0 to 12173
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CIP13             12174 non-null  int64
 1   GEN_NUM           12174 non-null  int64
 2   TOP_GEN           12174 non-null  int64
 3   generic_group_id  12174 non-null  int64
dtypes: int64(4)
memory usage: 380.6 KB
None
-------------------------------------

# Your turn :) good luck

Create dashboard...